/* body {
    background-image: url(kirby.jpg);
} */

.body{
background-color: deepskyblue;
}

.colors {
    color: aqua;
}

.col-2{
background-color: blueviolet;
}

.row{
background-color: blueviolet;
}

.colors1{
background-color: aquamarine;
}

.col-6{
background-color: aquamarine;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: antiquewhite;
}

.fa-bars:before {
    content: "\f0c9";
    color:red;
   width: 1000px;
   height:1000px;
}

.row1 {
background-color: white;
}

.sponsors {
    text-align: center;
}

.ro2 {
background-color: white;

}

.row-4{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,1380%);
}

.placement {
text-align: center;
background-color: aquamarine;
}

.text {
text-align: initial;
}

embed {
text-align: center;
}

.order {
text-align: center;
}

.carousel-control-next {
background-color: pink;
opacity: 1;
}

.carousel-control-prev {
background-color: pink;
opacity: 1;
}

.video {
opacity: .10;
margin: 0 auto;
display: block;
}

.button {
    text-align: center;
    display: block;
}

.bismuthimg {
    width: 300px;
    height: 200px;
    border-style: dashed;
    border-width: 10px;
}

.container {
display: inline;
}

.textcolorwhite {
   color: white;
}